pkgbase = speedtest-go
	pkgdesc = CLI and Go API to Test Internet Speed using speedtest.net
	pkgver = 1.7.11
	pkgrel = 1
	url = https://github.com/showwin/speedtest-go
	arch = x86_64
	license = MIT
	makedepends = go
	provides = speedtest-go
	conflicts = speedtest-go
	source = https://github.com/showwin/speedtest-go/archive/refs/tags/v1.7.11.tar.gz
	sha256sums = 256ea7ce1b3ae1fec3158cad47d75ca67fe33ddd41cab5e2db028a4f0870f00f

pkgname = speedtest-go
